<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>673266632947-72cg9vum51rrogvjf78b6fnlh9m07amg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.673266632947-72cg9vum51rrogvjf78b6fnlh9m07amg</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>673266632947-h3dt01vpgc4abd8l9o0n56b023ubk9hp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBEv3e3NniezSraIUGiWZ5iq6uj1bTfUcU</string>
	<key>GCM_SENDER_ID</key>
	<string>673266632947</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.name.steerapp</string>
	<key>PROJECT_ID</key>
	<string>steer-app-28ba4</string>
	<key>STORAGE_BUCKET</key>
	<string>steer-app-28ba4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:673266632947:ios:d94e4e9cd655fc15e74f86</string>
</dict>
</plist>